.navwrap{
  display:flex;
  flex-direction: row;
  height: 10vh;
  line-height: 10vh;
  margin-bottom: 3vh;
}

.signout {
    font-size: 20px;
    flex-grow: 1;
  }
  
.dropdown {
    font-size: 20px;
    flex-grow: 1;
}

.title {
  color: teal;
  font-size: 10vh;
  flex-grow: 5;
}

.pages {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    top:45px;
    width: 200px;
    background-color: white;
    font-weight:bold;
    position: absolute;
    margin-top: 15%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 20px;
}

li a {
    color: #000;
    text-decoration: none;
}
li {
    padding: 8px 16px;
    border-bottom: 1px solid #e5e5e5;
}
li:last-child {
    border-bottom: none;
}
li:hover {
    background-color: #e5e5e5;
    color: white;
}
